In [7]:
import pandas as pd
import psycopg2 as pg
import json

In [3]:
con = pg.connect('postgresql://my_user:password123@postgresql:5432/my_database')

In [6]:
tbl = pd.read_sql('select * from alphatwo', con)
tbl.head()

,sessionid,queryid,timestamp,eventtype,eventdata
0,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:03:52.079+00:00,Searched For,{'search term': 'aardvark'}
1,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:14.208+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th..."
2,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:27.524+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0..."
3,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:29.160+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th..."
4,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:29.603+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 13, 'New Low': '5th..."

In [25]:
tbl = tbl.assign(keys=tbl.eventdata.transform(lambda d: frozenset(d.keys())))
tbl.head()

,sessionid,queryid,timestamp,eventtype,eventdata,keys
0,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:03:52.079+00:00,Searched For,{'search term': 'aardvark'},(search term)
1,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:14.208+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
2,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:27.524+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
3,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:29.160+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
4,96147580-a093-11e8-ba1c-3720da4183c7,0a27e1f0-a094-11e8-ba1c-3720da4183c7,2018-08-15T14:04:29.603+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 13, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"

## Event Type Keys

In [26]:
tbl.loc[:, ('eventtype', 'keys')].drop_duplicates()

                  eventtype                                               keys
0              Searched For                                      (search term)
1       Grade Range Changed              (Old Low, NewHigh, New Low, Old High)
2        Word Count Changed              (Old Low, NewHigh, New Low, Old High)
14        More Info Toggled  (URL, Flesch, Index, Number of Images, Keyword...
84   Filter Results Changed                                    (Filter Status)
108         Clicked on Link                                      (Index, Link)
125         Search Returned  (articles, numArticles, error, queryString, ti...
242       More Info Toggled                                      (Index, Show)

## Session Stats

In [29]:
tbl.groupby('sessionid').timestamp.agg(['count', 'min', 'max'])

,count,min,max
sessionid,,,
0a45a3f0-aa28-11e8-9be4-8f33b3746da3,10,2018-08-27T18:36:32.966+00:00,2018-08-28T02:15:53.452+00:00
1382f4a0-a15d-11e8-9ef8-29773b572f3f,10,2018-08-16T16:03:18.350+00:00,2018-08-16T16:04:47.085+00:00
1c5e8160-b3dd-11e8-a53b-ff083cc0e4f5,94,2018-09-09T03:08:58.239+00:00,2018-09-13T18:54:14.986+00:00
6660b310-b7bf-11e8-a84b-7d46734e55ff,9,2018-09-14T01:43:04.235+00:00,2018-09-14T01:44:04.268+00:00
96147580-a093-11e8-ba1c-3720da4183c7,10,2018-08-15T14:03:52.079+00:00,2018-08-15T20:38:58.749+00:00
d4043d00-b842-11e8-9e46-135c6e063098,291,2018-09-14T17:24:39.926+00:00,2018-09-24T19:01:56.555+00:00

In [49]:
session = 'd4043d00-b842-11e8-9e46-135c6e063098'
s_tbl = tbl[tbl.sessionid == session].sort_values('timestamp')
s_tbl = s_tbl[s_tbl.timestamp >= '2018-09-14T21:06']
s_tbl = s_tbl[s_tbl.timestamp < '2018-09-17']
s_tbl

,sessionid,queryid,timestamp,eventtype,eventdata,keys
211,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:01.093+00:00,Searched For,{'search term': 'volcanoes'},(search term)
212,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:01.395+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 2, 'artic...","(articles, numArticles, error, queryString, ti..."
213,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:01.589+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
214,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:01.591+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
215,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.123+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
216,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.180+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 13, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
217,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.217+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 12, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
218,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.268+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 11, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
219,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.331+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 10, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
220,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.416+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 9, 'New Low': '5th ...","(Old Low, NewHigh, New Low, Old High)"
221,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:42.610+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 8, 'New Low': '5th ...","(Old Low, NewHigh, New Low, Old High)"
222,d4043d00-b842-11e8-9e46-135c6e063098,fbd13350-b861-11e8-9e46-135c6e063098,2018-09-14T21:06:43.293+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 7, 'New Low': '5th ...","(Old Low, NewHigh, New Low, Old High)"
223,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:07:08.811+00:00,Searched For,{'search term': 'volcano'},(search term)
224,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:07:09.494+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 23, 'arti...","(articles, numArticles, error, queryString, ti..."
225,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:07:09.786+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
226,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:07:09.787+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
227,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:08:07.509+00:00,Clicked on Link,"{'Index': 8, 'Link': 'https://www.nbcnews.com/...","(Index, Link)"
228,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:10:33.395+00:00,Searched For,{'search term': 'volcano'},(search term)
229,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:10:33.891+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 23, 'arti...","(articles, numArticles, error, queryString, ti..."
230,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:10:34.339+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
231,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:10:34.340+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
232,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:12:59.494+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
233,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:12:59.544+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 13, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
234,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:12:59.620+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 12, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
235,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:12:59.819+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 11, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
236,d4043d00-b842-11e8-9e46-135c6e063098,9e1f3030-b862-11e8-9e46-135c6e063098,2018-09-14T21:13:00.075+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 10, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
237,d4043d00-b842-11e8-9e46-135c6e063098,005e1900-b863-11e8-9e46-135c6e063098,2018-09-14T21:13:18.224+00:00,Searched For,{'search term': 'chemical reaction'},(search term)
238,d4043d00-b842-11e8-9e46-135c6e063098,005e1900-b863-11e8-9e46-135c6e063098,2018-09-14T21:13:18.816+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 6, 'artic...","(articles, numArticles, error, queryString, ti..."
239,d4043d00-b842-11e8-9e46-135c6e063098,005e1900-b863-11e8-9e46-135c6e063098,2018-09-14T21:13:19.484+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
240,d4043d00-b842-11e8-9e46-135c6e063098,005e1900-b863-11e8-9e46-135c6e063098,2018-09-14T21:13:19.488+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
...,...,...,...,...,...,...
356,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:44.529+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
357,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:54.476+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
358,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:54.606+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 13, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
359,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:54.712+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 12, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
360,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:54.872+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 11, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
362,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:55.002+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 10, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
361,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:55.319+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 9, 'New Low': '5th ...","(Old Low, NewHigh, New Low, Old High)"
363,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:35:56.349+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 8, 'New Low': '5th ...","(Old Low, NewHigh, New Low, Old High)"
364,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:37:01.831+00:00,Filter Results Changed,{'Filter Status': True},(Filter Status)
365,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:37:39.877+00:00,Filter Results Changed,{'Filter Status': False},(Filter Status)
366,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:38:21.497+00:00,More Info Toggled,"{'Show': True, 'Index': 2, 'URL': 'https://www...","(URL, Flesch, Index, Number of Images, Keyword..."
367,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:38:24.249+00:00,More Info Toggled,"{'Show': False, 'Index': 2}","(Index, Show)"
368,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:36.274+00:00,More Info Toggled,"{'Show': True, 'Index': 32, 'URL': 'https://ww...","(URL, Flesch, Index, Number of Images, Keyword..."
369,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:39.120+00:00,More Info Toggled,"{'Show': False, 'Index': 32}","(Index, Show)"
370,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:40.276+00:00,More Info Toggled,"{'Show': True, 'Index': 32, 'URL': 'https://ww...","(URL, Flesch, Index, Number of Images, Keyword..."
371,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:41.340+00:00,More Info Toggled,"{'Show': False, 'Index': 32}","(Index, Show)"
372,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:43.087+00:00,More Info Toggled,"{'Show': True, 'Index': 32, 'URL': 'https://ww...","(URL, Flesch, Index, Number of Images, Keyword..."
373,d4043d00-b842-11e8-9e46-135c6e063098,21a693a0-b866-11e8-9e46-135c6e063098,2018-09-14T21:43:44.877+00:00,More Info Toggled,"{'Show': False, 'Index': 32}","(Index, Show)"
374,d4043d00-b842-11e8-9e46-135c6e063098,c3543c60-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:23.302+00:00,Searched For,{'search term': 'climate idaho'},(search term)
375,d4043d00-b842-11e8-9e46-135c6e063098,c3543c60-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:23.880+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 0, 'artic...","(articles, numArticles, error, queryString, ti..."
376,d4043d00-b842-11e8-9e46-135c6e063098,c3543c60-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:23.976+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
377,d4043d00-b842-11e8-9e46-135c6e063098,c3543c60-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:23.978+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
378,d4043d00-b842-11e8-9e46-135c6e063098,c8444620-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:31.586+00:00,Searched For,{'search term': 'climate northwest'},(search term)
345,d4043d00-b842-11e8-9e46-135c6e063098,c8444620-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:31.917+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 5, 'artic...","(articles, numArticles, error, queryString, ti..."
379,d4043d00-b842-11e8-9e46-135c6e063098,c8444620-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:32.047+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
380,d4043d00-b842-11e8-9e46-135c6e063098,c8444620-b867-11e8-9e46-135c6e063098,2018-09-14T21:47:32.051+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"
381,d4043d00-b842-11e8-9e46-135c6e063098,3e433970-b869-11e8-9e46-135c6e063098,2018-09-14T21:57:59.047+00:00,Searched For,{'search term': 'science news for students'},(search term)
382,d4043d00-b842-11e8-9e46-135c6e063098,3e433970-b869-11e8-9e46-135c6e063098,2018-09-14T21:57:59.741+00:00,Search Returned,"{'title': 'LITERATE', 'numArticles': 15, 'arti...","(articles, numArticles, error, queryString, ti..."
383,d4043d00-b842-11e8-9e46-135c6e063098,3e433970-b869-11e8-9e46-135c6e063098,2018-09-14T21:58:02.547+00:00,Grade Range Changed,"{'Old Low': 5, 'Old High': 14, 'New Low': '5th...","(Old Low, NewHigh, New Low, Old High)"
384,d4043d00-b842-11e8-9e46-135c6e063098,3e433970-b869-11e8-9e46-135c6e063098,2018-09-14T21:58:02.552+00:00,Word Count Changed,"{'Old Low': 0, 'Old High': 10000, 'New Low': 0...","(Old Low, NewHigh, New Low, Old High)"

In [50]:
s_tbl[s_tbl.eventtype == 'Clicked on Link']

,sessionid,queryid,timestamp,eventtype,eventdata,keys
227,d4043d00-b842-11e8-9e46-135c6e063098,242e25b0-b862-11e8-9e46-135c6e063098,2018-09-14T21:08:07.509+00:00,Clicked on Link,"{'Index': 8, 'Link': 'https://www.nbcnews.com/...","(Index, Link)"

In [47]:
s_tbl.loc[224, 'eventdata']

{'title': 'LITERATE',
 'numArticles': 23,
 'articles': [{'source': {'id': 'the-new-york-times',
    'name': 'The New York Times'},
   'author': 'JESS BIDGOOD',
   'title': 'Hurricane Lane Live Updates: Hawaii Warned of Flood Threat',
   'description': 'Hawaii was girding for a long and dangerous brush with Hurricane Lane, whose outer bands have already unleashed torrential rain and surging floodwaters.',
   'url': 'https://www.nytimes.com/2018/08/24/us/hawaii-hurricane-lane-updates.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/25/us/25hawaii-01/25hawaii-01-facebookJumbo.jpg',
   'publishedAt': '2018-8-24',
   'content': '• The authorities evacuated people in Lahaina, in West Maui, after a brush fire ignited and spread quickly on Friday. The cause of the fire was not immediately known. • Five tourists from California were rescued from a flooded vacation home in Hilo on Thursda… [+4276 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'JESS BIDGOOD',
   'title': 'Hurricane Lane Live Updates: Storm’s Slow Churn Raises Flood Danger',
   'description': 'Hawaii was girding for a long and dangerous brush with Hurricane Lane, whose outer bands have already unleashed torrential rain and surging floodwaters.',
   'url': 'https://www.nytimes.com/2018/08/24/us/hurricane-lane-live-updates.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/25/us/25hawaii-01/25hawaii-01-facebookJumbo.jpg',
   'publishedAt': '2018-8-24',
   'content': '• The authorities evacuated people in Lahaina, in West Maui, after a brush fire ignited and spread quickly on Friday. The cause of the fire was not immediately known. • Five tourists from California were rescued from a flooded vacation home in Hilo on Thursda… [+4276 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'MAUREEN DOWD',
   'title': 'Op-Ed Columnist: The Trump Vibe Spreads Down Under',
   'description': 'At the bottom of the world, Australians engage in topsy-turvy politics, infected by the specters of Donald Trump and Rupert Murdoch.',
   'url': 'https://www.nytimes.com/2018/09/01/opinion/sunday/australia-trump-murdoch.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/09/02/opinion/sunday/02Dowd-Sub/merlin_137841906_6dbb489b-76e6-40b6-a0af-cfd1146703fe-facebookJumbo.jpg',
   'publishedAt': '2018-9-1',
   'content': 'In the snappiest slogan since Hillary mulled “It’s Her Turn,” the ordinary-bloke mantra of Morrison, Australia’s first Pentecostal prime minister, is: “If you have a go in this country, you will get a go. There is a fair go for those who have a go.” Australia… [+1263 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'KATHERINE BERNARD',
   'title': 'Critical Shopper: At an Updated Head Shop, High Meets Highbrow',
   'description': 'Higher Standards sells vapes, pipes, rollers, presses and rigs for preparing and consuming cannabis.',
   'url': 'https://www.nytimes.com/2018/08/15/style/cannabis-accessories-higher-standards.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/16/fashion/16CRITIC-6/16CRITIC-6-facebookJumbo.jpg',
   'publishedAt': '2018-8-15',
   'content': 'Because Higher Standards is not a dispensary, it is not required to keep its accessories behind glass. So, go ahead and touch the Eyce beaker-shaped bong coated in camo silicone ($69.99), which has a lifetime warranty. What you do with it is up to you. I held… [+1267 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'JESS BIDGOOD',
   'title': 'Hurricane Lane: Hawaii Battered by Rain as Category 4 Storm Bears Down',
   'description': 'The storm is threatening to be the first hurricane to make landfall in Hawaii since 1992, but officials are warning of “life-threatening impacts” even if it skirts the islands.',
   'url': 'https://www.nytimes.com/2018/08/23/us/hurricane-lane-hawaii-live-updates.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/24/us/24hawaii-01/24hawaii-01-facebookJumbo.jpg',
   'publishedAt': '2018-8-23',
   'content': '• Hurricane Lane was expected to bring tropical storm and hurricane-force winds to parts of Hawaii, with up to 30 inches of rain in some areas, according to the National Weather Service. The storm was approaching Hawaii on Wednesday. • President Trump issued … [+2215 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'SAM ANDERSON',
   'title': 'Letter of Recommendation: Letter of Recommendation: Oklahoma City',
   'description': 'It’s as pure a distillation of American weirdness as you can find.',
   'url': 'https://www.nytimes.com/2018/08/21/magazine/letter-of-recommendation-oklahoma-city.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/26/magazine/26mag-LOR/26LOR-facebookJumbo.jpg',
   'publishedAt': '2018-8-21',
   'content': 'I’ve been around. Once, in the middle of Marrakesh, a man threw a monkey on my back. I kept walking, pretending there was no monkey, until eventually it jumped off. I have eaten ant eggs in Mexico City, paella in Seville, fried squash blossoms in Florence and… [+2474 chars]'},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': None,
   'title': 'Rising from the ashes: Tiny Montserrat returns to world football, with an ex-Man City player in charge',
   'description': 'Former Manchester City and Scotland defender Willie Donachie has taken charge of Montserrat - a country still rebuilding after a volcano two decades ago.',
   'url': 'https://www.bbc.co.uk/sport/football/45519386',
   'urlToImage': 'https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/DE01/production/_103433865_gettyimages-57655368.jpg',
   'publishedAt': '2018-9-14',
   'content': 'Montserrat is still trying to rebuild following a volcanic eruption in 1995 that led to thousands leaving the island The tiny Caribbean island of Montserrat - population a little over 5,000 - is a world away from what most people think of when it comes to int… [+7207 chars]'},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': 'Hurricane Lane: Hawaii hit by flooding and landslides as storm nears',
   'description': 'Hurricane Lane approaches bringing torrential rain, as residents are warned to "hunker down".',
   'url': 'https://www.bbc.co.uk/news/world-us-canada-45292032',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/13C81/production/_103152018_hi048810875.jpg',
   'publishedAt': '2018-8-24',
   'content': 'Image copyright Getty Images Hawaii has been hit with strong winds and torrential rain as Hurricane Lane approaches the US state, causing flash flooding and landslides. Schools and offices were closed as residents took shelter from the storm, which was downgr… [+2570 chars]'},
  {'source': {'id': 'nbc-news', 'name': 'NBC News'},
   'author': 'Corey S. Powell',
   'title': 'How an underwater volcano could help scientists find extraterrestrial life',
   'description': "NASA's Subsea mission is exploring an underwater volcano in Hawaii as a way to prepare for a mission to Enceladus or Europa to search for extraterrestrial life.",
   'url': 'https://www.nbcnews.com/mach/science/how-underwater-volcano-could-help-scientists-find-extraterrestrial-life-ncna904736',
   'urlToImage': 'https://media1.s-nbcnews.com/j/newscms/2018_34/2542561/180824-enceladus-ac-1228a_2c0a9436fb6b66102f5f28db4b324acd.1200;630;7;70;5.jpg',
   'publishedAt': '2018-8-29',
   'content': 'SUBSCRIBE The next big thing in the search for alien life is taking place closer to home — not in deep space but in the depths around the Lō`ihi seamount, an underwater volcano 22 miles southeast of the Big Island of Hawaii. As part of a project called Subsea… [+7781 chars]'},
  {'source': {'id': 'nbc-news', 'name': 'NBC News'},
   'author': 'NBCNews.com',
   'title': 'NASA is studying an underwater volcano in Hawaii to learn more about alien life',
   'description': 'NASA is kicking off a new project called Subsea — Systematic Underwater Biogeochemical Science and Exploration Analog. Its main objective is to explore the environmental conditions in and around the Lō`ihi seamount. The region contains an extensive network of…',
   'url': 'https://www.nbcnews.com/mach/video/nasa-is-studying-an-underwater-volcano-in-hawaii-to-learn-more-about-alien-life-1315528259700',
   'urlToImage': 'https://media1.s-nbcnews.com/j/MSNBC/Components/Video/201809/Enceladus.1200;630;7;70;5.jpg',
   'publishedAt': '2018-9-8',
   'content': None},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'https://www.nytimes.com/by/natalie-proulx',
   'title': 'Summer 2018 News Quiz - New York Times',
   'description': 'New York Times Summer 2018 News Quiz New York Times This summer has produced dramatic headlines around the world, from the rescue mission in Thailand to the World Cup in Russia to the midterm primary elections in the United States — as well as a string of dea…',
   'url': 'https://www.nytimes.com/2018/08/20/learning/summer-2018-news-quiz.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/08/us/08calfire-01-print-LN/08calfire-01alt-facebookJumbo.jpg',
   'publishedAt': '2018-8-20',
   'content': '33. _________ announced on July 31 that it had identified a political influence campaign that was potentially built to disrupt the midterm elections, with the company detecting and removing 32 pages and fake accounts that had engaged in activity around divisi… [+1248 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'https://www.nytimes.com/by/mike-ives',
   'title': 'Two More Earthquakes Hit Indonesian Island, Killing at Least 12 - New York Times',
   'description': 'New York Times Two More Earthquakes Hit Indonesian Island, Killing at Least 12 New York Times HONG KONG — The Indonesian island of Lombok was reeling on Monday from two earthquakes that killed at least 12 people a day earlier, just two weeks after a separate …',
   'url': 'https://www.nytimes.com/2018/08/20/world/asia/lombok-earthquake-indonesia.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/21/world/21indonesia-quake/21indonesia-quake-facebookJumbo.jpg',
   'publishedAt': '2018-8-20',
   'content': 'Casualties aside, the Aug. 5 quake that struck off Lombok’s north coast injured 7,733 people, displaced more than 417,000 others and damaged more than 71,000 buildings, the disaster management agency reported last week. More than a dozen aftershocks followed,… [+980 chars]'},
  {'source': {'id': 'the-wall-street-journal',
    'name': 'The Wall Street Journal'},
   'author': 'Zusha Elinson',
   'title': 'Hawaii Prepares for Hurricane Lane',
   'description': 'The state closed schools and some government offices as it prepared for a hurricane with sustained winds of 155 miles an hour.',
   'url': 'https://www.wsj.com/articles/hawaii-prepares-for-hurricane-lane-1534958904',
   'urlToImage': 'https://images.wsj.net/im-23118/social',
   'publishedAt': '2018-8-22',
   'content': 'Hawaii closed schools and some government offices Wednesday as is it prepared for a hurricane with sustained winds of 155 miles an hour. Hurricane warnings were in effect for the islands of Hawai’i and Maui as Hurricane Lane, located 460 miles southeast of Ho… [+1866 chars]'},
  {'source': {'id': 'the-wall-street-journal',
    'name': 'The Wall Street Journal'},
   'author': 'Arian Campo-Flores',
   'title': "Hawaii Prepares for Rainfall 'in Feet' From Hurricane Lane",
   'description': 'Hurricane Lane unleashed torrential rain on Hawaii Thursday, raising the threat of flash floods and landslides.',
   'url': 'https://www.wsj.com/articles/hawaii-prepares-for-rainfall-in-feet-as-hurricane-lane-approaches-1535038003',
   'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BM835_0823Ha_G_20180823091140.jpg',
   'publishedAt': '2018-8-23',
   'content': 'Hurricane Lane unleashed torrential rain on Hawaii Thursday morning, raising the threat of flash floods and landslides, as the strong Category 4 storm churned north toward the islands. The hurricane, with maximum sustained winds of 130 miles an hour, had alre… [+2790 chars]'},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': 'Can the city of pizza reinvent itself as a tech capital?',
   'description': 'How a city best known for pizza, football and crime is embracing tech to revive its fortunes.',
   'url': 'https://www.bbc.co.uk/news/business-45486674',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/17F7A/production/_103407189_gettyimages-857817758.jpg',
   'publishedAt': '2018-9-13',
   'content': "Image copyright Getty Images Image caption The city of Naples stretches towards the imposing volcano Vesuvius As tech giants Apple and Cisco set up academies in Naples, the city's tech entrepreneurs are hoping new investment will revitalise southern Italy's f… [+6996 chars]"},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': "The words you'd love to hear your children say - but never do",
   'description': 'The top 10 phrases parents would love to hear their children say. Sighs. One day, maybe.',
   'url': 'https://www.bbc.co.uk/news/education-45450648',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/1121D/production/_103337107_messyroomgetty.jpg',
   'publishedAt': '2018-9-9',
   'content': 'Image copyright Getty Images Image caption Aaaaah! Chaos With children back at school, the mystery of what they are doing all day and how they are getting on may be pre-occupying many parents. Any parent of a school child will be familiar with monosyllabic re… [+3320 chars]'},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': 'Hurricane Lane: Hawaii braces for category five storm',
   'description': 'Lane is the second category five storm in recorded history to come within 350 miles of Hawaii.',
   'url': 'https://www.bbc.co.uk/news/world-us-canada-45274074',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/12B1C/production/_103127567_tv048788278.jpg',
   'publishedAt': '2018-8-22',
   'content': "Image copyright Reuters Image caption Honolulu residents move canoes and boats away from the beach as Hurricane Lane approaches The US state of Hawaii is bracing for a category five hurricane - the second ever in the state's history - which could make landfal… [+3039 chars]"},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': 'Survey team heads for the Faroe-Shetland Sponge Belt',
   'description': "The scientists are en route to one of Scotland's most unusual deep sea marine features.",
   'url': 'https://www.bbc.co.uk/news/uk-scotland-highlands-islands-45274114',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/229D/production/_102716880_sponges.jpg',
   'publishedAt': '2018-8-22',
   'content': "Image copyright JNCC Image caption The sponge belt's cheesy-bottoms Scientists have set out to begin surveys of some of Scotland's most unusual marine features. The first site is the Faroe-Shetland Sponge Belt, where sponges gather in aggregations nicknamed c… [+830 chars]"},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': 'Week in pictures: 1 - 7 September 2018',
   'description': 'A selection of the best news photographs from around the world, taken over the past week.',
   'url': 'https://www.bbc.co.uk/news/in-pictures-45446358',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/C46B/production/_103338205_bd0d5e7a-c3c1-4ce8-aa1e-8612f0417822.jpg',
   'publishedAt': '2018-9-8',
   'content': 'Our selection of some of the most striking news photographs taken around the world this week. Image copyright Carl de Souza/ AFP Image caption Korubo Isolado stands in the crumbling Indian Museum complex, which was gutted by fire on Sunday. Since 2006, severa… [+2281 chars]'},
  {'source': {'id': 'the-wall-street-journal',
    'name': 'The Wall Street Journal'},
   'author': 'Howie Kahn',
   'title': 'How Chef José Andrés Fed Puerto Rico',
   'description': 'A new memoir recounts how, after hurricanes devastated the island, Andrés’s organization overcame bureaucratic hurdles by enlisting 20,000 local volunteers to prepare and deliver 3.7 million meals.',
   'url': 'https://www.wsj.com/articles/jose-andres-new-memoir-how-the-chef-fed-puerto-rico-1535623200',
   'urlToImage': 'https://images.wsj.net/im-24040/social',
   'publishedAt': '2018-8-30',
   'content': 'AT NEARLY 3 A.M. on a Saturday in early June, I receive a series of text messages from the chef and activist José Andrés explaining why he will not be joining me in Puerto Rico as planned. Before texting a single word, Andrés sends several photographs from so… [+15712 chars]'},
  {'source': {'id': 'bbc-news', 'name': 'BBC News'},
   'author': 'https://www.facebook.com/bbcnews',
   'title': "The strange deep sea creatures off Scotland's coast",
   'description': 'Survey work offers an insight into the types of animals that live deep under the sea off Scotland.',
   'url': 'https://www.bbc.co.uk/news/uk-scotland-highlands-islands-45396678',
   'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/63CB/production/_103274552_trawlfishone.jpg',
   'publishedAt': '2018-9-3',
   'content': "Image copyright JNCC/MSS Image caption Creatures, including black scabbardfish and squid, found during a trawl 1,200m below the surface Some of Scotland's strangest looking marine creatures are being found among some of its most unusual marine features. A tea… [+1763 chars]"},
  {'source': {'id': 'the-wall-street-journal',
    'name': 'The Wall Street Journal'},
   'author': 'Mark Childress,',
   'title': 'The Debate Over Cruise Vacations: Wonderful or Torturous?',
   'description': 'High-seas holidays have as many boosters as they do detractors. Two savvy travelers debate the pros and cons.',
   'url': 'https://www.wsj.com/articles/the-debate-over-cruise-vacations-wonderful-or-torturous-1534261570',
   'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BJ356_LOVEHA_SOC_20180809130249.jpg',
   'publishedAt': '2018-8-14',
   'content': 'I am a Travel Loner. When the crowd heads off to see the sunset, I go east. Once, before a Costa Rican volcano tour even reached the volcano, I paid a taxista $100 to take me back to the capital, far from the chatty tourists on the bus. I spent a lot of years… [+8994 chars]'},
  {'source': {'id': 'the-new-york-times', 'name': 'The New York Times'},
   'author': 'Finbarr O’reilly',
   'title': 'Precious as Silver, Vanilla Brings Cash and Crime to Madagascar',
   'description': 'With prices reaching hundreds of dollars a pound, Madagascar’s vanilla-growing region is in the midst of an economic boom. The windfall, however, has come at a steep cost.',
   'url': 'https://www.nytimes.com/interactive/2018/08/30/world/africa/madagascar-vanilla.html',
   'urlToImage': 'https://static01.nyt.com/images/2018/08/25/world/africa/xxmadagascar-slide-Q242/xxmadagascar-slide-Q242-facebookJumbo.jpg',
   'publishedAt': '2018-8-30',
   'content': 'SAMBAVA, Madagascar — Bright moonlight reflected off broad banana leaves, but it was still hard to see the blue twine laced through the undergrowth, a tripwire meant to send the unwary tumbling to the ground. “This is the way the thieves come,” said the vanil… [+6961 chars]'}],
 'queryString': 'volcano',
 'error': ''}